@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    text-align: center;
}

.center-image{
    margin:0 auto;
}

.full{
    width: 80%;
    padding:20px;
    .center-button{
        margin: 0 auto;
    }
}

